# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

1. Create a new DataFrame that only includes customers who:
   - have a **low total_claim_amount** (e.g., below $1,000),
   - have a response "Yes" to the last marketing campaign.

2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv"
df = pd.read_csv(url)
# local save for future use
df.to_csv("marketing_customer_analysis.csv", index=False)

In [ ]:
#quick cleaning of columns and cases + display first 10 rows
df.columns = [col.lower().replace(' ', '_') for col in df.columns]
df.head(10)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN

In [9]:
#filtring out only response "Yes"
df_yes = df[df['response'] == 'Yes']
#aggregating insight by mean claim amount by education and gender
result = df_yes.groupby(['education', 'gender'])[['total_claim_amount']].mean().reset_index()
result

              education gender  total_claim_amount
0              Bachelor      F          489.994886
1              Bachelor      M          418.114970
2               College      F          366.448299
3               College      M          450.434475
4                Doctor      F          399.874990
5                Doctor      M          396.740363
6  High School or Below      F          475.325361
7  High School or Below      M          501.180760
8                Master      F          484.928621
9                Master      M          362.663412

In [ ]:
"""
2. Using the original Dataframe, analyze:
   - the average `monthly_premium` and/or customer lifetime value by `policy_type` and `gender` for customers who responded "Yes", and
   - compare these insights to `total_claim_amount` patterns, and discuss which segments appear most profitable or low-risk for the company.
"""
# Global claims coast comparaired to monthly_premium for "Yes" response
comparison = df_yes.groupby(['policy_type', 'gender'])[['customer_lifetime_value', 'total_claim_amount']].mean().reset_index()

# New column  "Profitability Ratio" in order to compare (income / coast)
comparison['profit_ratio'] = comparison['customer_lifetime_value'] / comparison['total_claim_amount']
comparison.sort_values(by='profit_ratio', ascending=False)

,policy_type,gender,customer_lifetime_value,total_claim_amount,profit_ratio
1,Corporate Auto,M,7944.465414,408.582459,19.443971
5,Special Auto,M,8247.088702,429.527942,19.200354
2,Personal Auto,F,8339.791842,452.965929,18.411521
0,Corporate Auto,F,7712.628736,433.738499,17.781748
4,Special Auto,F,7691.584111,453.280164,16.968720
3,Personal Auto,M,7448.383281,457.010178,16.298069

In [ ]:
# 1. Global claims coast per Policy, Gender  to monthly_premium for "Yes"
comparison = df_yes.groupby(['policy_type', 'gender']).agg({
    'customer_lifetime_value': 'mean',
    'total_claim_amount': 'mean',
    'monthly_premium_auto': 'mean'
}).reset_index()

# 2. New column  "Profitability Ratio" in order to compare (income / coast)
comparison['profit_ratio'] = comparison['customer_lifetime_value'] / comparison['total_claim_amount']

# 3. Tri pour voir le segment le plus "Safe" (Profit Ã©levÃ© + Claim bas)
analysis_ready = comparison.sort_values(by=['profit_ratio', 'total_claim_amount'], ascending=[False, True])
analysis_ready

,policy_type,gender,customer_lifetime_value,total_claim_amount,monthly_premium_auto,profit_ratio
1,Corporate Auto,M,7944.465414,408.582459,92.188312,19.443971
5,Special Auto,M,8247.088702,429.527942,86.343750,19.200354
2,Personal Auto,F,8339.791842,452.965929,98.998148,18.411521
0,Corporate Auto,F,7712.628736,433.738499,94.301775,17.781748
4,Special Auto,F,7691.584111,453.280164,92.314286,16.968720
3,Personal Auto,M,7448.383281,457.010178,91.085821,16.298069

In [ ]:
"""The most profitable segments are those with the highest Profit Ratio and the lowest at the top of the table : corporation auto."""

"# No pattern is clearely appearing but we can see which policy type is more profitable on average is the corporate policy\nprofitable_policy = comparison[['policy_type', 'profit_ratio', 'total_claim_amount']].sort_values(by='profit_ratio', ascending=False) \nmean_profit_policy = profitable_policy.groupby('policy_type')\nmean_profit_policy"

In [39]:
# Step A : Compute the total number of customers per state
state_analysis = df.groupby('state')['customer'].count().reset_index()

# Ã‰tape B : Filtrerint for market over 500
large_markets = state_analysis[state_analysis['customer'] > 500]

print(large_markets)

        state  customer
1  California       504

In [36]:
# We use the original DataFrame as requested
# We group by Education and Gender, then we calculate max, min, and median
clv_stats = df.groupby(['education', 'gender'])['customer_lifetime_value'].agg(['max', 'min', 'median']).reset_index()

# We rename the columns so that it is more professional
clv_stats.columns = ['Education', 'Gender', 'Max CLV', 'Min CLV', 'Median CLV']

clv_stats

              Education Gender       Max CLV      Min CLV   Median CLV
0              Bachelor      F  33473.349460  2248.449633  5246.278375
1              Bachelor      M  24127.504020  2300.691547  5548.031892
2               College      F  25807.063000  2004.350666  4834.710493
3               College      M  22332.439460  2393.915369  5989.773931
4                Doctor      F   6265.343299  2395.570000  4673.457903
5                Doctor      M  12731.951610  2491.317024  5073.282126
6  High School or Below      F  41787.903430  2397.036098  6503.397049
7  High School or Below      M  12298.686300  2227.072755  6366.225775
8                Master      F  19160.989940  2574.020376  5096.673223
9                Master      M  14435.673650  2551.226692  8509.850887

In [40]:
# 5. Tableau policies vendues par Ã©tat (lignes) et mois (colonnes)
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df['month'] = df['effective_to_date'].dt.month

pivot_month_state = df.pivot_table(
    index='state', 
    columns='month', 
    values='customer', 
    aggfunc='count', 
    fill_value=0
).round(0).astype(int)

print("Policies par Ã©tat et mois :")
pivot_month_state

Policies par Ã©tat et mois :

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_6856\3738303634.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])

month         1    2
state
Arizona     149  132
California  303  201
Nevada       79   61
Oregon      240  179
Washington   72   50

In [41]:
# 6. Top 3 Ã©tats avec policies par mois
# Ã‰tape 1 : Compter policies par Ã©tat + mois, trier par total descending
policies_by_state_month = df.groupby(['state', 'month']).size().reset_index(name='policies_sold')
top_states_total = policies_by_state_month.groupby('state')['policies_sold'].sum().sort_values(ascending=False).head(3).index

# Ã‰tape 2 : Filtrer top 3 Ã©tats et pivoter
top3_pivot = policies_by_state_month[
    policies_by_state_month['state'].isin(top_states_total)
].pivot_table(
    index='state', 
    columns='month', 
    values='policies_sold', 
    fill_value=0
).round(0).astype(int)

print("Top 3 Ã©tats - Policies par mois :")
top3_pivot

Top 3 Ã©tats - Policies par mois :

month         1    2
state
Arizona     149  132
California  303  201
Oregon      240  179